In [1]:
#Question 1: Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
#Ans
import pandas as pd
series1 = pd.Series([4,8,15,16,23,42])
print(series1)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Question 2: Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [4]:
#ans
# Creating a list contain square for first 10 Natural numbers
l2 = [(i+1)**2 for i in range(10)]
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
# Creating Pandas Series for above list
series2 = pd.Series(l2)
print(series2)

0      1
1      4
2      9
3     16
4     25
5     36
6     49
7     64
8     81
9    100
dtype: int64

In [ ]:
#Question 3: Create a Pandas DataFrame that contains the following data:

In [ ]:
#Ans
# Creating a dictionary with 'Name', 'Age' and 'Gender' as Key and rows as list in values
dct3 = {
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}

In [1]:
# Converting Dictionary to DataFrame
df3 = pd.DataFrame(dct3)
df3

NameError: name 'pd' is not defined

In [ ]:

#Question 4: What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [2]:
#Answer:
#A DataFrame in pandas is a two-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or a SQL table, where data is organized in rows and columns. Each column can contain a different type of data, such as numbers, strings, or dates.
#On the other hand, a pandas Series is a one-dimensional labeled array that can contain data of any type, such as integers, strings, or booleans. It is similar to a column in a DataFrame.
#Below is Example of a Pandas DataFrame which is 2 dimensional in nature

In [3]:
# Dictionary for pandas DataFrame
dct4 = {
    'emp_id':[100,101,102],
    'name':['Utkarsh','Krish','Aditi'],
    'dept':['ML Engineer','DevOps','Testing'],
    'email':['utkarsh@test.com','krish@test.com','aditi@test.com'],
    'favourite_subject':['Calculus','Statistics','Six Sigma']
}

df4 = pd.DataFrame(dct4)
df4

NameError: name 'pd' is not defined

In [ ]:
type(df4)